html , body {
    background-color: #E4B9E8;
    width: 100%;
    height: fit-content;
    display: flex;
    font-family: 'Varela Round', sans-serif;
}

.contentcontainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    background-color: #E4B9E8;
    margin: 50px;
    scrollbar-width: none;
}

.textcontainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    scrollbar-width: none;
}

.heartscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    width: 100%;
    height: 56px;
    overflow: hidden;
}

.container {
    text-align: center;
    background: #E8E2E9;
    border: #C1A0C3;
    border-width: 2px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    min-height: 475px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #DD9DE2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}

button:hover {
    background-color: #C1A0C3;
}


.imagecardgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.imagecard {
    background: #fdfdfd;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px rgba(20,0,0,0.7);
    border-radius: 2px;
    gap: 5px;
}

.imagecard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.imagecard.is-flipped .imagecard-inner {
    transform: rotateY(180deg);
}

.imagecard-front,
.imagecard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.imagecard-front {
    background-color: #fdfdfd;
}

.imagecard-back {
    background-color: #DD9DE2;
    transform: rotateY(180deg);
}

.imagecollection{
    background-color: #E8E2E9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
img {
    width: auto;
    height: 250px;
}

text .date {
    font-size: 12px;
    color: #666;
}