body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E4B9E8;
    margin: 50px;
}

.container {
    text-align: center;
    background: #E8E2E9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #DD9DE2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #C1A0C3;
}
